img {
    width: 200px;
    margin-left: auto;
    margin-left: auto;
    margin-top: 60px;
}

h1 {
    margin: 30px;
}

h1, p {
    text-align: center;
}

body {
    background-color: #080228;
    color: #ffffff;
}

.btn {
    margin-left: 36%;
}

button {
    width: 100px;
    height: 100px;;
    color: rgb(137, 137, 225);
    background-color: transparent;
    border: 2px solid red;
    font-size: 30px;
    border-radius: 100%;    
}

button:hover {
    cursor: pointer;
}